<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<form th:action="@{|/user/login|}" class="flex flex-col gap-7" method="post">
    <input type="text" placeholder="아이디" name="username" class="input">
    <input type="password" placeholder="비밀번호" name="password" class="input">
    <input type="submit" placeholder="로그인" class="btn">
</form>

<a href="/user/signup">회원가입</a>
</body>
</html>